
.headerone{
    background-color: #5f7396;
    color: white;
    padding:3%;
    width:100%;
}
.headertwo{
    background-color: #8ea1c7;
    padding-top: 3%;
    padding-bottom: 3%;
    width:100%;
    border-radius: 5px;
}

.insert-form{
       background-color: #8ea1c7;
}
.insert-row{
    padding-top: 30px;
}
.fontsize{
    font-size: 150%;
    text-align: center
}

input[type=checkbox] + label{
     background-image: url("https://cdn2.iconfinder.com/data/icons/person-gender-hairstyle-clothes-variations/48/Female-Side-comb-O-neck-512.png");
}

.post-date{
    background:#f4f4f4;
    padding: 4px;
    margin: 3px ;
    display: block;
}