@primary-color-light:#8ea1c7;
@primary-color-mid:#5f7396;
@primary-color-dark:#324868;
@secondary-color-light:#c8ffa9;
@secondary-color-mid:#94ea78;
@secondary-color-dark:#61b749;
@sober-color-light: ivory;
@sober-color-mid: grey;
@sober-color-dark: black;
@fontsize-elder:50px;
@gray: #EDEEF4;



body, html {
    height: 100%;
}


img.top-right2 {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 60px;
    opacity: 0.7;
    border-radius: 10px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 50px;
    width: 110px;
    background-color: @gray;
    opacity: 0.7;
    border-radius: 10px;
}

.par1{
    position:absolute;
    top: 8px;
    font-size: 40px;
    color: white;
    right:280px;
    }
//Extra css for the overview page
.container-fluid{
    .header{
        position: relative;
    }
    #left{
        .dropdown-menu{
            background-color: @secondary-color-light;
            border-color: @secondary-color-dark;
            border-top-color:@secondary-color-light;
            border-width: 5px;
            .li{
                border-bottom-color: @secondary-color-mid;
                border-bottom-width: 5px;
                cursor: pointer;
            }
            .li:hover{
                background-color: @sober-color-light;
            }
        }
    }

    #right_center{
        h2{
            width: 100%;
            right:0%;  
        }
        .panel-group{
            .panel{
                border-color: @secondary-color-dark;
            }
            .panel-heading{
                background: @secondary-color-mid;
            }
            .panel-body{
                backgroundr: @sober-color-light;     
            }
            .panel-body:hover{
                background: @secondary-color-light;
                cursor: pointer;
            }
        }
    }

    
    //the extar css of the editting and overview of the residents.
    .insert-form{
           background-color:@primary-color-dark;
    }
    .insert-row{
        padding-top: 30px;
    }
    input[type=checkbox] + label{
        margin-right: 50px;
    }
    .post-date{
        background:@sober-color-dark;
        padding: 4px;
        margin: 3px ;
        display: block;
    }

    .imgsize{
        width:300px;
        height:300px;
    }
    .Imagelayout
    {
        float: left;
        margin: 30px;
        padding: 20px;
    }

     h2{
        color:white;
        float:bottom; 
        padding-bottom: 50px;
        margin-left: 120px;
        /*color: #00008C;*/
        font-family: sans-serif;
        font-size: 50px;
        font-style:bold;
    }
    
    //the extra css of the editting and overview of the facilities
    
    .match
    {
      font-size: 20px;
      font-family: sans-serif;
      font-style: normal;
      margin-left: 20px;
      text-align: right;
      position:relative;
        
    }
    
    label.facility{
      font-size: 20px;
      font-family: sans-serif;
      font-style: normal;
      margin-left: 180px;
      text-align: right;
      position:relative;
 }
    
   

