@primary-color-light:#8ea1c7;
@primary-color-mid:#5f7396;
@primary-color-dark:#324868;
@secondary-color-light:#c8ffa9;
@secondary-color-mid:#94ea78;
@secondary-color-dark:#61b749;
@sober-color-light: ivory;
@sober-color-mid: grey;
@sober-color-dark: black;
@fontsize-elder:50px;


#homebutton{
	position: fixed;
	top: 0;
	left: 0;
}

#logoutbutton{
	position: fixed;
	top: 0;
	left: 100px;
}

//Extra css for the overview page
.container-fluid{
    #left{
        .dropdown-menu{
            background-color: @secondary-color-light;
            border-color: @secondary-color-dark;
            border-top-color:@secondary-color-light;
            border-width: 5px;
            .li{
                border-bottom-color: @secondary-color-mid;
                border-bottom-width: 5px;
                cursor: pointer;
            }
            .li:hover{
                background-color: @sober-color-light;
            }
        }
    }

    #right_center{
        h2{
            width: 100%;
            right:0%;  
        }
        .panel-group{
            .panel{
                border-color: @secondary-color-dark;
            }
            .panel-heading{
                background: @secondary-color-mid;
            }
            .panel-body{
                backgroundr: @sober-color-light;     
            }
            .panel-body:hover{
                background: @secondary-color-light;
                cursor: pointer;
            }
        }
    }

//extra css for the login page for the caregivers

    .cont{
        display:flex;
        padding-top: 100px;
        align-items:center;
        justify-content:center;
        .box{
            background-color:rgba(0,0,140,0.25);
            width:500px;
            height:480px;
            border-radius:25px;
            .sg{
               margin:10px;
                .pic{
                    margin: 40px 0 30px 0;
                    .photo{
                        width:100px;
                        border-radius:50%
                    }
                }
                .form{
                    padding:0 40px 40px 40px;
                   
                }
                .y
                {
                    padding-bottom:15px; 
                }
                .login-button{
                     width:90%;
                     height:60px;
                     margin: 10% 0 0 7%;
                     font-size: 24px;
                     border-radius: 10px;
                     background-color:#32B232;
                     border-top-color: #32B232;
                     border-left-color: #32B232;                                       
                     color:#fff
                     
                         
                }
                .input-group{
                    width:90%;
                    height:90%;
                    padding-bottom: 5%;               
                                    
                    input[type=text],
                    input[type=password]{
                                          
                        margin-left: 7%;
                        height:60px;
                        border-radius:10px;
                        
                    }  
                }
                .srow{
                    margin-left: 7%;
                    
                }
                 
       }
            } 
        }
    }
    
    //the extar css of the editting and overview of the residants.
    .insert-form{
           background-color:@primary-color-dark;
    }
    .insert-row{
        padding-top: 30px;
    }
    input[type=checkbox] + label{
        margin-right: 50px;
    }
    .post-date{
        background:@sober-color-dark;
        padding: 4px;
        margin: 3px ;
        display: block;
    }

    .imgsize{
        width:300px;
        height:300px;
    }
    .Imagelayout
    {
        float: left;
        margin: 30px;
        padding: 20px;
    }

     h2{
        color:white;
        float:bottom; 
        padding-bottom: 50px;
        margin-left: 120px;
        /*color: #00008C;*/
        font-family: sans-serif;
        font-size: 50px;
        font-style:bold;
    }
    
    //the extra css of the editting and overview of the facilities
    
    .match
    {
      font-size: 20px;
      font-family: sans-serif;
      font-style: normal;
      margin-left: 20px;
      text-align: right;
      position:relative;
        
    }
    
    label.facility{
      font-size: 20px;
      font-family: sans-serif;
      font-style: normal;
      margin-left: 180px;
      text-align: right;
      position:relative;
 }
    
   

