/** VARIABLES **/
@accent: #61B749;
@gray: #EDEEF4;
@primary: #404C86;
@red: #ff3f3f;
@primary-light:#8EA1C7;


body{
    background-color:white;
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
    flex-direction: column;
    align-items: center;
}
/**{
    border: 1px solid red;
}*/
/** HEADER **/
img.topIcon {
    opacity: 0.7;
    top:3.5%;
    width:4.5%;
    border-radius: 10px;
    transition:0s 1s;
}

#log{
    position: absolute;
}

#home{
    left:2.5%;
    position: absolute;
    opacity: 0.8;
    width:4%;
}
 
#homeLink{
    top:12%;
    left:3.1%
}

#logLink{
    right:0.5%;
}

.top {
    width: 8%;
    color: white;
    opacity: 0.7;
    font-size:14px;
    transition:0s 1s;
    top:5%;
    position: absolute;
}

.top:active{
        color: #404C86;
        transition:0s 0s;
    }

.topIcon:active{
         background-color: #404C86;
         opacity: 0.7;
         transition:0s 0s;
    }
       
    
.par1{
    position:absolute;
    top:1%;
    font-size: 40px;
    color: white;
    padding-left:1%;
    transition:0s 1;
}

.par1:active{
    color: #404C86;
    transition:0s 0s;
}

body.flex{
    display: flex;
}

/** TITLE BAR **/
#blue{
    background-color: @primary;
    h2{
        color: white;
        font-size: 25px;
        margin-top:0.75%;
    }
}


/** CONTENT PAGES CAREGIVERS **/
#forms{
    padding-left: 2.5%;
    padding-top: 3%;
}

#formInput{
    border-color:@primary;
    border-radius: 2px;

}
   
.container-fluid{
    background-color: white;
    
    h1{
        padding:3%;
        position: relative;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 5px;
    }
    
    h3{
        color:@primary;
    }
    
    /** BUTTONS **/
    button{
        color:white;
        border-radius: 10px;
        background-color:@accent;
        position: relative;
        word-wrap: break-word;
        font-size: 24px;
        height:60px;
        transition:0s 1s;
    }
    
    button:hover{
        color:white;
    }
   
    button:active {
        background-color: @gray;
        color: @primary;
        transition:0s 0s;
    }
    
    #delete{
        background-color: @red;
    }
    
    #left{
        margin-top: 5%;
        button{
            border-width: 5px;  
        } 
    }
    
    img{
        position:relative; 
    }
}
 
 label{
      font-size: 20px;
      font-family: sans-serif;
      font-style: normal;
      padding-top: 2%;
      
 }

 .lab{
     color:@primary;
     opacity:0.85;
     padding-top: 0%;
   }
      
 .pad{
      padding-top:0.5%; 
    }
 .pad2{
      padding-top:5%; 
    }
 
/** FOOTER **/
.footer{
        font-size:15px;
        color: @primary;
        opacity: 0.8;
}

#link{
    font-size:15px;
    opacity: 0.8;
    color:@primary;
    padding-top:0%;
    padding-left:0%;
}


/** RESPONSIVE DESIGN **/


@media only screen and (min-width: 768px) {
    #home{
        top:5%;
    }
 
    .par1{
        top:4%;
    }
    
    #log{
        top:5%;
    }
    
    #logLink{
        top: 12%;
        right: 0%;
    }
    
    #foot{
        padding-top:5%;
    }   
}

