

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#wrapper.toggled {     
    padding-left: 220px;
}


#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #404C86;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 45px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    padding-left: 60px;
}
.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}


.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #41484c;
    background: rgb(97,183,73);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background: rgb(97,183,73);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #8EA1C7;
    box-shadow: none;
    
}

.graceAge{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:white;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  

}

button.tab{
    color: #EDEEF4;
    background-color: #404C86;
    display: block;
    text-decoration: none;
}

.button.tab:hover,
.button.tab .active {
    color: #222;
    background-color: #61B749;
    text-decoration: none;
    cursor: pointer;
}

.panel .panel-heading{
    color: #EDEEF4;
    background-color: #8EA1C7;
    display: block;
    text-decoration: none;
}

.panel .panel-heading:hover,
.panel .panel-heading .active {
    color: #222;
    background-color: #61B749;
    text-decoration: none;
    cursor: pointer;
}
.panel-group .panel-body{
    background-color: #EDEEF4;
}
input.logout{
       float:right;
       font-size: 20px;
       color: #404C86;
    }