@primary-color-light:#8ea1c7;
@primary-color-mid:#5f7396;
@primary-color-dark:#324868;
@secondary-color-light:#c8ffa9;
@secondary-color-mid:#94ea78;
@secondary-color-dark:#61b749;
@sober-color-light: #edeef4;
@sober-color-mid: grey;
@sober-color-dark: black;
@fontsize-elder:50px;

@primary: #404C86;
@accent: #61B749;
@gray: #EDEEF4;
@primary-light:#8EA1C7;

/**{
    border: 1px solid red;
}*/

body{
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
}

/*** HEADER ***/

/* Home icon */
img.topIcon {
    opacity: 0.7;
    top:3.5%;
    width:4.5%;
    border-radius: 10px;
    transition:0s 1s;
}

.topIcon:active{
    background-color: @primary;
    opacity: 0.7;
    transition:0s 0s;
}

#home{
    left:2.5%;
    position: absolute;
    opacity: 0.8;
    width:4%;
}

.top {
    width: 8%;
    color: white;
    opacity: 0.7;
    font-size:14px;
    transition:0s 1s;
    top:9%;
    position: absolute;
}
.top:active{
    color: @primary;
    transition:0s 0s;
}

#homeLink{
    left:3%;
} 

/* Info icon */
img.top-right {
    position: absolute;
    top: 3.5%;
    right:2.5%;
    width: 5%;
    opacity: 0.75;
    border-radius: 10px;
}
    
/* Grace Age logo */    
.par1{
    position:absolute;
    top:1%;
    /*laptop-> top: 4%*/
    font-size: 40px;
    color: white;
    /*laptop-> left: 1.5%*/
    transition:0s 1;
}

.par1:active{
    color: primary;
    transition:0s 0s;
}

/** PAGES Login resident, Login verification **/
    
/* Blue bar with title */    
#blue{
    background-color: @primary;
    h1{
        color: white;
        font-size: 25px;
        margin-top:0.75%;
    }

    #homeLink{
        left:3%;
    } 
    
.topIcon:active{
         background-color: #404C86;
         opacity: 0.7;
         transition:0s 0s;
    }

.par1{
    position:absolute;
    top:1%;
    /*laptop-> top: 4%*/
    font-size: 40px;
    color: white;
    padding-left:1%;
    /*laptop-> left: 1.5%*/
    transition:0s 1;
    }
    .par1:active{
        color: #404C86;
        transition:0s 0s;
    }


.container-fluid{
   
    h1{
        font-size: 25px;
    }
    h1.par2{
            margin-top: 10%;
    }
    
    /* */
    button{
        color: white;
        border-radius: 10px;
        position: relative;
        font-family:myriad-pro-condensed, sans-serif;
        word-wrap: break-word;
        font-size:35px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    button.style{
        background-color: @gray;
        color: @primary;
        text-align: center;
    }
    
    
    .style:active {
            background-color: @accent;
            color: white;
        }
    
    button.small{
        font-size: 25px;
    }    
        
    figcaption{
        font-family: myriad-pro-condensed, sans-serif;
        font-size: 25px;
    }
    
    h2{
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        color: @primary;
    }
    
    p{
        font-size: 24px;
        color: @primary;
        opacity: 0.8;
        float:none;
        text-align: center;
        margin-top: 10px;
        //padding-left: 20px;
        
    }

    .logout{
       float:none;
       font-size: 30px;
       color: @primary;
       padding-left: 0px;
    }
    
    .logout:active{
        color: @accent;
    }
    
    .top-buffer{
        margin-top: 25px;
    }
    
    .border-style{
        border: 4px;
        border-color: @secondary-color-mid;
        border-style: solid;
        border-radius: 10px;
    }
    
    img.smiley{
        width: 110px;
        float:left;
        //padding-left: 5%;
    }
    
    .smiley:active{
        background-color: @primary-light;
        border-radius: 70px;
    }
    
    .logout{
       font-size: 20px;
       color: @primary;
       opacity: 0.7;
    }
}

/** FOOTER **/
.footer{
        
        font-size:15px;
        color: @primary;
        opacity: 0.8;
}
