@primary-color-light:#8ea1c7;
@primary-color-mid:#5f7396;
@primary-color-dark:#324868;
@secondary-color-light:#c8ffa9;
@secondary-color-mid:#94ea78;
@secondary-color-dark:#61b749;
@sober-color-light: ivory;
@sober-color-mid: grey;
@sober-color-dark: black;
@fontsize-elder:50px;

#mainMenubutton{
	position: fixed;
	top: 0;
	left: 0;
}
#logoutbutton{
	position: fixed;
	top: 0;
	left: 100px;
}

/**{
    border: 1px solid red;
}*/

    button.style{
        font-family: myriad-pro-condensed, sans-serif;
        width: 75%;
        font-size: 10px;
        background-color:@sober-color-light;
    }
     img.align-left{
        width: 80px;
        float: left;
        background-color:@primary-color-light;
    }

    img.align-right{
        width: 80px;
        float: right;
        background-color:@sober-color-light;
    }
    
    img.family{
        width: 100px;
    }
    
    img.quest{
        width: 200px;
    }
   
    img.smiley{
        width: 150px;
        float:top;
    }
     
    .button:active{
        background-color: @secondary-color-light;
    }
    p{
        font-size: 35px;
    }
    
    button.family{
        float: right;
        padding-bottom: 15px;
    }
    
    button.logout{
        float:bottom;
        width:50%;
    }
    
    button.activity{
       //padding-right: 40px;
       padding-bottom: 25px;
       float: none;
    }
    
    
    button.question{
        background-color: @secondary-color-light;
        width: 100%;
        font-size: 40px;
        float:none;
    }

    button.style2{
        font-family: myriad-pro-condensed, sans-serif;
        background-color:@sober-color-light;
        width: 180px;
        font-size: 35px;
    }


    
    button.previous{
        width:200px;
    }
    
/** FOOTER **/
.footer{
        font-size:15px;
        color: @primary;
        opacity: 0.8;
}

#link{
    font-size:15px;
    opacity: 0.8;
    color:@primary;
    padding-top:0%;
    padding-left:0%;
}

