/* VARIABLES */
@primary: #404C86;
@accent: #61B749;
@gray: #EDEEF4;
@primary-light:#8EA1C7;


body{
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
    flex-direction: column;   
    background-image: url("../../../image/pictograms/loginpage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}


/** HEADER **/

/* Log out */
.top {
    width: 8%;
    color: white;
    opacity: 0.7;
    font-size:20px;
    transition:0s 1s;
    top:9%;
    position: absolute;
}

.top:active{
        color: @primary;
        transition:0s 0s;
    }

#logLink{
        right:10.5%;
        top:15%;
    }
#log{

    position: absolute;
}
    
img.topIcon {
    opacity: 0.7;
    top:6%;
    width:70px;
    border-radius: 10px;
    transition:0s 1s;
}
    
.topIcon:active{
         background-color: @primary;
         opacity: 0.7;
         transition:0s 0s;
    }
    
    
/* Info */

img.align-right{
        width: 60px;
        float: right;
        padding-top:50%;
        margin-right: 10px;
        opacity:0.95;
        transition:0s 1s;
        border-radius: 10px;
        transition:0s 1s;
    }
    .align-right:active{
        background-color: white;
        opacity: 0.7;
        transition:0s 0s;
    }
    #infoLink{
        left:94.2%;
        top:15%;
        color: @accent;
    }

    /** CONTENT PAGES**/

    p{
        color:white;
        float:bottom;
    }
    h2{
        color:white;
        float:bottom;
    }
    
    .par1{
        margin-top: 60px;
        font-size: 40px;
    }
    .par2{
        margin-top: 2.5%;
        font-size:30px;
    }
    
    /* Icons menu page*/
    
    img.align-left{
        width: 60px;
        float: left;
        opacity: 0.8;
    }
    
    img.family{
        margin-left: 20px;
        width:60px;
        opacity: 0.85;
    }
    img.quest{
        width:60px;
        color:white;
        opacity: 0.85;
    }
    img.align{
        width: 60px;
        opacity: 0.85;
    }

    
    
 /* BUTTONS */    
    button{
        color: white;
        border-radius: 10px;
        position: relative;
        font-family:myriad-pro-condensed, sans-serif;
        font-size:30px;
        margin-bottom: 4%;
        margin-top: 4%;
        transition:0s 1s;
    }
    button:hover{
        color:white;
    }

    #quest{
        height:200px;
        margin-top:0px;
        margin-bottom:2%;
        font-size:40px;
    }
    
    
    button.question{
        background-color:@accent;
        height:150px;
        transition:0s 1s;
    }
    
    .question:active {
            background-color: @gray;
            color: @primary;
            transition:0s 0s;
        }

       
        #newButton{
            height: 200px;
            font-size:40px;
            margin-top: 2%;
        }   
        
        #back{
            font-size:24px;
        }
    
        #family{
            height: 200px;
            font-size:40px;
            margin-top: 2%;
        }
        #activity{
            height: 200px;
            font-size:40px;
            margin-top: 2%;
            margin-bottom: 7%;
        }   
        
     button.style{
        background-color: @gray;
        color: @primary;
        height:150px;
        font-size:24px; 
        transition:0s 1s;
    }
    
    .style:active {
            background-color: @accent;
            color: white;
            transition:0s 0s;
        }
        
    #awcc1511526958631{
        height:200px;
    }


/** FOOTER **/
.footer{
        font-size:15px;
        color: @primary;
        opacity: 0.8;
        padding-top:4%;
}

#link{
    font-size:15px;
    opacity: 0.8;
    color:@primary;
    padding-top:10%;
    padding-left:0%;
}


