
.customDiv{
margin-bottom:30px;
min-height:300px;
padding-left: 50px;
width:100px;
}
.divbutton{
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
    width: 50%;
    height:70px;
}